<div class="stance_detail_container">
  <a href="/stances/<%= stance.id %>">
    <div class="stance_detail">
      <h4 class='text-red'><%= stance.position.description %></h4>
      <span class="text-blue" style="text-shadow: 2px 2px 2px #CED3DE; font-size: 1.2em;"><%= stance.position.issue.description %></span><br>
      <span class='text-green' style="font-size: 1.2em;"><%= stance.legislators.count %> </span><em class='text-blue'  style="font-size: 1em;">legislators</em> supports</p>

      <% if stance.upvotes.count > 0 %>
        <h5  class='text-blue' style="margin: 0;"><span id="upvote_count" style="font-size: 1.5em;"><%= stance.upvotes.count %> </span><%= stance.upvotes.count == 1 ? "user believes" : "users believe" %> this stance is accurate</h5>
      <% else %>
      <% end %>
      <h5  class='text-blue'><span style="font-size: 1.5em;">$<%= stance.total_donated_amount > 0 ? stance.total_donated_amount : 0 %></span> countributed</h5>
    </div>

  </a>
</div>